.btn {
  border: none;
  max-width: fit-content;
  display: block;
  padding: 13px 30px;
  border-radius: 5px;
  transition: all .2s ease;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  &.full {
    width: 100%;
  }
  &.sm {
    padding: 8px 20px !important;
  }


  &.primary {
    background: $primary;
    color: $white;

    @media (min-width: $md2 + "px") {
      &:hover {
        background: $primary-hover;
      }
    }
    &:active {
      background: $primary-active;
    }
    &:disabled {
      background: $semi-primary;
      color: $primary;
      cursor: not-allowed;
    }

  }
  &.secondary {
    border: 2px solid $primary;
    background: transparent;
    color: $primary;
    @media (min-width: $md2 + "px") {
      &:hover {
        border: 2px solid $primary;
        background: $primary;
        color: $white;
      }
      &:active {
        border: 2px solid $primary-active;
        background: $primary-active;

      }
      &:disabled {
        opacity: .6;
        cursor: not-allowed;
      }
    }
  }
}

.lang-switcher {
  display: flex;
  &.first {
    .lang-item {
      &:first-child {
        color: $white;
        &:before {
          transform: translate(0px, -50%);
        }
      }
      &:last-child {
        color: $primary;
      }
      .poo {
        transform: translate(10px, -50%);
        opacity: 0;
        transition-delay: 0s;
      }
    }
  }
  .lang-item {
    border: none;
    position: relative;
    background: $primary;
    border-radius: 3px;
    font-weight: 700;
    transition: all .2s ease;
    background: transparent;
    z-index: 2;
    font-size: 12px;
    line-height: 10px;
    color: $white;
    transition: all .2s ease;
    &:first-child {
      color: $primary;
      &:before {
        content: "";
        display: block;
        width: 30px;
        height: 30px;
        background: #859ba6;
        border-radius: 3px;
        position: absolute;
        top: 50%;
        bottom: 50%;
        left: -1.6px;
        transform: translate(28.5px, -50%);
        z-index: -1;
        transition: all .2s ease;
      }
    }
    .poo {
      position: absolute;
      display: block;
      height: fit-content;
      top: 50%;
      bottom: 50%;
      font-size: 18px;
      transform: translate(30px, -50%);
      opacity: 1;
      transition: all .3s ease;
      transition-delay: .3s;
      z-index: -2;
    }
  }
}


// slider pagination

.slider-controls {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
  height: fit-content;
  margin: 0 auto;
}
.slider-pagination {
  max-width: 100%;
}
.slider-progressbar {
  position: relative;
  background: $white !important;
  height: 4px !important;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  height: 4px;
  background: $primary;
}

//// dropdown -------------------------
//.dropdown {
//  position: relative;
//  display: inline-block;
//  &:hover::after {
//    border-right: 1px solid $primary;
//    border-bottom: 1px solid $primary;
//  }
//  &:after {
//    content: '';
//    position: absolute;
//    bottom: 50%;
//    right: -15px;
//    width: 5px;
//    height: 5px;
//    border-right: 1px solid $white;
//    border-bottom: 1px solid $white;
//    transform: rotate(45deg) translateY(50%);
//    transition: all .2s ease;
//  }
//  &-content {
//    opacity: 0;
//    transition: all .2s ease;
//    position: absolute;
//    background-color: $black;
//    min-width: 160px;
//    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//    z-index: 1;
//    a {
//      color: black;
//      padding: 12px 16px;
//      text-decoration: none;
//      display: block;
//    }
//  }
//  &:hover {
//    .dropdown-content {
//      opacity: 1;
//    }
//  }
//}


// breadcrumbs -------------------------
//.breadcrumbs {
//  display: flex;
//  column-gap: 30px;
//
//  &__link {
//    position: relative;
//    font-weight: 300;
//    color: $white;
//    &.active {
//      color: $primary;
//    }
//    &:not(:last-child) {
//      &::before, &::after {
//        content: '';
//        position: absolute;
//        width: 7px;
//        height: 7px;
//        border-top: 1.5px solid $white;
//        border-right: 1.5px solid $white;
//        transform: rotate(45deg);
//        top: 9px;
//      }
//      &::before {
//        left: 117%;
//      }
//      &::after {
//        left: 130%;
//      }
//    }
//  }
//  @media (max-width: $md4 + "px") {
//    column-gap: 25px;
//    &__link {
//      font-size: 14px;
//
//      &:not(:last-child) {
//        &::before, &::after {
//          width: 5px;
//          height: 5px;
//          top: 8px;
//        }
//      }
//    }
//  }
//}
