$md1: 1199.98;
$md2: 990.98;
$md3: 768.98;
$md4: 479.98;

$clear-black: #000;
$black: #333333;
$white: #fff;
$primary: #859BA6;
$primary-hover: #748c98;
$primary-active: #5d7d85;
$semi-primary: #F6F8FA;

$gray-gradient: linear-gradient(0deg, rgba(212, 227, 236, 0.30) 0%, rgba(247, 249, 251, 0.30) 100%);


$font: 'Roboto';
$font-size: 20px;

$section-p: 80px;
