@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

body,
h1,
h2,
h3,
h4,
p,
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.btn {
    border: none;
    max-width: -moz-fit-content;
    max-width: fit-content;
    display: block;
    padding: 13px 30px;
    border-radius: 5px;
    transition: all 0.2s ease;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

.btn.full {
    width: 100%;
}

.btn.sm {
    padding: 8px 20px !important;
}

.btn.primary {
    background: #859BA6;
    color: #fff;
}

@media (min-width: 990.98px) {
    .btn.primary:hover {
        background: #748c98;
    }
}

.btn.primary:active {
    background: #5d7d85;
}

.btn.primary:disabled {
    background: #F6F8FA;
    color: #859BA6;
    cursor: not-allowed;
}

.btn.secondary {
    border: 2px solid #859BA6;
    background: transparent;
    color: #859BA6;
}

@media (min-width: 990.98px) {
    .btn.secondary:hover {
        border: 2px solid #859BA6;
        background: #859BA6;
        color: #fff;
    }

    .btn.secondary:active {
        border: 2px solid #5d7d85;
        background: #5d7d85;
    }

    .btn.secondary:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}

.lang-switcher {
    display: flex;
}

.lang-switcher.first .lang-item:first-child {
    color: #fff;
}

.lang-switcher.first .lang-item:first-child:before {
    transform: translate(0px, -50%);
}

.lang-switcher.first .lang-item:last-child {
    color: #859BA6;
}

.lang-switcher.first .lang-item .poo {
    transform: translate(10px, -50%);
    opacity: 0;
    transition-delay: 0s;
}

.lang-switcher .lang-item {
    border: none;
    position: relative;
    background: #859BA6;
    border-radius: 3px;
    font-weight: 700;
    transition: all 0.2s ease;
    background: transparent;
    z-index: 2;
    font-size: 12px;
    line-height: 10px;
    color: #fff;
    transition: all 0.2s ease;
}

.lang-switcher .lang-item:first-child {
    color: #859BA6;
}

.lang-switcher .lang-item:first-child:before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background: #859ba6;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: -1.6px;
    transform: translate(28.5px, -50%);
    z-index: -1;
    transition: all 0.2s ease;
}

.lang-switcher .lang-item .poo {
    position: absolute;
    display: block;
    height: -moz-fit-content;
    height: fit-content;
    top: 50%;
    bottom: 50%;
    font-size: 18px;
    transform: translate(30px, -50%);
    opacity: 1;
    transition: all 0.3s ease;
    transition-delay: 0.3s;
    z-index: -2;
}

.slider-controls {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 16px;
    column-gap: 16px;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 auto;
}

.slider-pagination {
    max-width: 100%;
}

.slider-progressbar {
    position: relative;
    background: #fff !important;
    height: 4px !important;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    height: 4px;
    background: #859BA6;
}

.header {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: transparent;
}

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    transition: all 0.2s ease;
    padding: 30px 0;
}

.header .logo {
    width: 100%;
    height: 100%;
    max-height: 30px;
    max-width: -moz-fit-content;
    max-width: fit-content;
}

.header .header-actions {
    display: flex;
    align-items: center;
    -moz-column-gap: 40px;
    column-gap: 40px;
}

.header .header-actions .btn {
    z-index: 50;
}

.header .header-actions a {
    white-space: nowrap;
    color: #333333;
    font-weight: 500;
    transition: all 0.2s ease;
    z-index: 50;
}

.header .header-actions a:hover {
    color: #859BA6;
}

.header .header-actions.mobile {
    display: none;
}

@media (max-width: 990.98px) {
    .header .header-actions {
        display: none;
    }

    .header .header-actions.mobile {
        height: 100%;
        display: flex;
        row-gap: 50px;
        flex-direction: column;
        justify-content: space-between;
    }
}

.header .btn.mobile {
    display: none;
}

@media (max-width: 990.98px) {
    .header .btn.mobile {
        display: block;
    }
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    -moz-column-gap: 44px;
    column-gap: 44px;
}

.nav-links li a {
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    color: #333333;
    font-size: 16px;
}

.nav-links li a:hover {
    color: #859BA6;
}

.hamburger {
    display: none;
}

.hamburger div {
    width: 40px;
    height: 2px;
    background: #859BA6;
    margin: 8px;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 1199.98px) {
    .header__menu {
        -moz-column-gap: 30px;
        column-gap: 30px;
    }

    .header__menu .logo {
        flex: 1 1 auto;
        max-width: 100%;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        z-index: 2;
        transition: all 0.7s ease;
    }

    .hamburger.toggle div {
        background: #859BA6 !important;
    }

    .hamburger.toggle .line1 {
        transform: rotate(-45deg) translate(0, 7px);
    }

    .hamburger.toggle .line3 {
        transform: rotate(45deg) translate(0, -7px);
    }

    .nav-links {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: #fff;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        -webkit-clip-path: circle(50px at 90% -20%);
        clip-path: circle(50px at 90% -20%);
        transition: all 1s ease-out;
        pointer-events: none;
        justify-content: unset;
        align-items: center;
        overflow-y: scroll;
        padding-top: 120px;
        padding-bottom: 50px;
    }

    .nav-links.open {
        -webkit-clip-path: circle(2000px at 90% -10%);
        clip-path: circle(2000px at 90% -10%);
        pointer-events: all;
    }

    .nav-links li {
        line-height: 50px;
        opacity: 0;
    }

    .nav-links li:not(:last-child) {
        margin-bottom: 65px !important;
    }

    .nav-links li a {
        text-transform: uppercase;
        font-size: 28px;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.7s;
    }

    .nav-links li:nth-child(5) {
        transition: all 0.5s ease 0.8s;
    }

    .nav-links li:nth-child(6) {
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }

    .nav-links li:nth-child(7) {
        transition: all 0.5s ease 1s;
        margin: 0;
    }

    .nav-links li.fade {
        opacity: 1;
    }
}

@media (max-width: 990.98px) {
    .nav-links li:not(:last-child) {
        margin-bottom: 20px !important;
    }

    .nav-links li a {
        font-size: 16px;
    }
}

@media (max-width: 768.98px) {
    .nav-links {
        padding-top: 100px;
    }
}

._anim-item {
    transition: all 1s ease;
}

._anim-item.appearing {
    opacity: 0;
    transform: translateY(50px);
}

._anim-item.appearing._active-animation {
    opacity: 1;
    transform: translateY(0px);
}

._anim-item.del-1 {
    transition-delay: 0.1s;
}

._anim-item.del-2 {
    transition-delay: 0.2s;
}

._anim-item.del-3 {
    transition-delay: 0.3s;
}

.mb-30 {
    margin-bottom: 30px;
}

@media (max-width: 768.98px) {
    .mb-30 {
        margin-bottom: 15px;
    }
}

.mb-20 {
    margin-bottom: 20px;
}

@media (max-width: 768.98px) {
    .mb-20 {
        margin-bottom: 10px;
    }
}

.hero {
    padding-top: 112px;
    background: linear-gradient(0deg, rgba(212, 227, 236, 0.3) 0%, rgba(247, 249, 251, 0.3) 100%);
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.hero__body {
    margin-top: 80px;
}

.slider-controls {
    position: absolute;
    bottom: 0;
    left: 0;
}

.hero-slider .swiper-wrapper {
    margin-bottom: 80px;
}

.hero-slide {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    justify-items: stretch;
    grid-column-gap: 40px;
    align-items: center;
}

.hero-slide__col:has(.hero-slide__img) {
    width: 560px;
}

.hero-slide__col:first-child {
    max-width: 320px;
}

.hero-slide__col:last-child {
    align-self: end;
}

.hero-slide__img {
    width: 100%;
    height: 100%;
    max-width: 560px;
}

.hero-slide__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
}

@media (max-width: 1199.98px) {
    .hero-slide__col:has(.hero-slide__img) {
        width: 450px;
    }
}

a {
    transition: all 0.2s ease;
}

.title.primary {
    font-size: 50px;
    font-weight: 500;
    line-height: 130%;
}

.title.secondary {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.24px;
}

.title.secondary.thin {
    font-weight: 300 !important;
}

body {
    font-family: "Roboto";
    position: relative;
    font-size: 20px;
    color: #333333;
    line-height: 130%;
    font-weight: 300;
}

body.lock {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.page {
    flex: 1 1 auto;
}

section {
    padding: 80px 0;
}

section:first-child {
    padding-top: 0;
}

[class*=__container] {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}

@media (max-width: 1199.98px) {
    [class*=__container] {
        max-width: 970px;
    }
}

@media (max-width: 990.98px) {
    [class*=__container] {
        max-width: 750px;
    }
}

@media (max-width: 768.98px) {
    [class*=__container] {
        max-width: none;
    }
}